/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

h1.title{
    font-family: cursive;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 90px;
}

header{
    background-color:#696969 ;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    padding: 90px;
    color: white;
}

//NAV BAR

ul {
    margin: 0 auto;
    padding: 2px;
    width: 800px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    padding-left: 100px;
    padding-right: 100px; 
    padding-top: 12px;  
    padding-bottom: 12px;
    display: block;
    color: white;
  }
  
  li a:hover {
    background-color: #111;
  }
//end of nav bar